<div class="container pt-4">
  

  <h1 id="logo"><svg xmlns="http://www.w3.org/2000/svg" width="70" height="100" fill="currentColor" class="bi bi-bookmark-plus-fill" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm6.5-11a.5.5 0 0 0-1 0V6H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V7H10a.5.5 0 0 0 0-1H8.5V4.5z"/>
  </svg></h1>
  <div id="bookmark_form"></div>
  <div id="bookmark_show"></div>  
  <div id='new_bookmark_btn' class="pb-3">
    <%= link_to 'Nuevo bookmark', new_bookmark_path, class: 'btn btn-primary', remote: true%>
  </div>

  <table class="table mt-4">
      <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Url</th>
            <th scope="col">Type</th>
            <th scope="col">Category</th>
            <th scope="col" colspan="3"></th>
          </tr>
      </thead>
      <tbody id='bookmark_table'>
          <% @bookmarks.each do |b| %>
              <tr id='bookmark-<%=b.id%>'>
                  <td><%= b.name %></td>
                  <td><%= b.url %></td>
                  <td><%= b.url_type.name%></td>
                  <td><%= b.category.name%></td>
                  <td><%= link_to  'Ver', bookmark_path(b), remote: true %></td>
                  <td><%= link_to  'Editar', edit_bookmark_path(b), remote: true %></td>
                  <td><%= link_to  'Borrar', bookmark_path(b), remote: true, method: :delete, data: { confirm: 'Estas seguro que quieres borrar este bookmark?'} %></td>
              </tr>
          <% end %>
      </tbody>
  </table>

</div>