
<%= form_with(model: @category , local: true) do |f| %>
    <% if @category.errors.any? %>
        <div id = 'error_explanation'>
            <h2>Esta categoria no se pudo crear por las siguientes razones</h2>
            <ul>
                <% @category.errors.full_messages.each do |msg|%>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :category, 'Pertence a la categoria:' %>
        <%= f.select :category_id, options_from_collection_for_select(@categories, :id, :name), include_blank: true %>
        <%# TODO: lograr que por defecto el selector tengo la clase padre cuando hacemos update %>
    </div>

    <div class="form-group">
        <%= f.label :name, 'Nombre: ' %>
        <%= f.text_field :name, class: 'form-control'%>
    </div>
    
    <div class="form-group">
        <%= f.label :public_state, 'Pública: ' %>
        <%= f.check_box :public_state %>
    </div>

    <div class = 'actions'>
        <%= f.submit %>
    </div>
<% end %>